.light-text-color {
    color: darkgray;
}

.content-light-background {
    background-color: snow;
}

.content-dark-background {
    background-color: silver;
}

.content-light-background:hover {
    background-color: whitesmoke;
}

.light-border {
    border-bottom: lightgray 1px solid;
}

.standard-text-color {
    color: #333333;
}
